<!-- CHAT ROOM -->
<div class="chat-room-wrapper container">
  <div class="container">
    <div class="row">
      <div class="opacity-btn-container" ng-mouseover="$ctrl.opacity()">
        <i id="increment-chat-opacity" class="glyphicon glyphicon-plus" ng-click="$ctrl.increaseOpacity()"></i>
        <i id="decrement-chat-opacity" class="glyphicon glyphicon-minus"ng-click="$ctrl.decreaseOpacity()"></i>
      </div>
      <button class="minimize-btn"></button>
    </div>
    <messages-list></messages-list>
    <message-input></message-input>

  </div>
</div>
