<div class="chat-room-wrapper container">
    <div class="container">
        <div class="row">
            <div class="opacity-btn-container" ng-mouseover="$ctrl.opacity()">
                <i id="increment-chat-opacity" class="glyphicon glyphicon-plus" ng-click="$ctrl.increaseOpacity()"></i>
                <i id="decrement-chat-opacity" class="glyphicon glyphicon-minus" ng-click="$ctrl.decreaseOpacity()"></i>
                <button class="minimize-btn">0</button>
            </div>
        </div>
        <messages-list messages=$ctrl.messages></messages-list>
    </div>
    <message-input></message-input>

</div>
