<div class="michael-jordan-log-in box-me">
  <!-- <div class="michael-jordan-log-in-backscreen box-me"> -->

    <form ng-submit="doLogIn()" class="michael-jordan-form box-me">
      <label for="michael-jordan-get-username"></label><br>
      <input id="michael-jordan-get-username"
          ng-model="$ctrl.username" type="text" name="" value=""><br>
      <label for="michael-jordan-get-password"></label><br>
      <input id="michael-jordan-get-user-password"
          ng-model="$ctrl.password" type="text" name="" value=""><br>
      <button class="michael-jordan-submit-button"
        type="submit" name="button">Submit </button>
    </form>

  <!-- </div> -->
</div>
