@mixin flex-column-center {
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 600px;
}

body {
  height: 100%;
  width: 35rem;
  border: 2px solid black;
}

header {
  border-bottom: 1px solid gray;
  padding: 2px;
}

chat-app {
  height: 400px;
}

main-component {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

users-display {
  height: 800px;
  width: 8rem;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.5rem;
  border-right: 0.1rem solid gray;
  * {
    margin: 0;
    padding: 0;
  }
  h4 {
    margin-bottom: 0.3rem;
  }
  single-user {
    text-align: left;
  }
}

div.interface {
  flex-grow: 2;
  padding-left: 1rem;
  chat-display {
    message-input {
      padding: 0 1rem;
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 35rem;
    }
    textarea {
      height: 9rem;
    }
  }

  log-in {
    * {
      margin: 0;
    }
    form {
      @include flex-column-center;
    }
  }

}
