@mixin flex-column-center {
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 600px;
  display: flex;
}

body {
  width: 30rem;
  border: 2px solid black;
}

chat-app {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

main-component {
  height: 100vh;
  width: 100%;
  & > * {
    width: 100%;
    margin: 0 auto;
  }
}

chat-display {
  text-align: center;
  message-input {
    display: flex;
    position: fixed;
    bottom: 0;
  }
  text-area {
    width: 100%;
  }
}
