@mixin flex-column-center {
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 600px;
  overflow: hidden;
}

body {
  position: relative;
  width: 35rem;
  border: 2px solid black;
}

header {
  border-bottom: 1px solid gray;
  padding: 2px;
  background-color: black;
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  input {
    color: black;
  }
}

chat-app {
  height: 400px;
}

main-component {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

users-display {
  height: 800px;
  width: 8rem;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.5rem;
  border-right: 0.1rem solid gray;
  * {
    margin: 0;
    padding: 0;
  }
  h4 {
    margin-bottom: 0.3rem;
  }
  single-user {
    text-align: left;
  }
}

div.interface {
  flex-grow: 2;
  chat-display {
    message-input {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 35rem;
    }
    textarea {
      height: 9rem;
    }
    single-message {
      > .wrapper {
        border-bottom: 1px solid gray;
        padding: 1.7rem 0;
        padding-left: 0.7rem;
      }
      * {
        margin: 0;
      }
      p {
        display: inline-block;
      }
      .message-username {
        font-weight: bold;
      }
    }
  }

  log-in {
    > div {
      padding: 1rem;
      * {
        margin: 0;
        text-align: center;
      }
      button {
        margin-top: 1.3rem;
      }
    }
  }

  .video-display-wrapper {
    border: 2px solid black;
    position: fixed;
    top: 0.7rem;
    left: 0.7rem;
    background: white;
    height: 300px;
    width: 30rem;
    video {
      border: 0.3px solid gray;
      height: 260px;
    }
    .answer-options {
      border: 2px solid green;
    }
  }

  .message-list-container {
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
  }

}

.flexer {
  display: flex;
  justify-content: space-around;
}
